################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web API/bin/Debug/netcoreapp3.1
/Web API/obj
